.imagem-natal {
    width: 40rem;
    height: auto;
    border-radius: 15px;
}

.folder-acao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

#em-dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagem-pix {
    width: 10rem;
    height: auto;
}
.homePage-container h1{
    margin-bottom: 1rem;
}
.homePage-container p{
    margin-bottom: 1rem;
}

@media screen and (max-width: 1020px) {
    .imagem-natal {
        width: 60%;
    }
}
