.page-transparency {
    flex-direction: row;
}
.lista-entrada {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

/* Transparency.css */
.table-entradas, .table-saidas {
    width: 100%;
}

.table-entradas {
    border-collapse: collapse;
    margin-top: 1rem;
}

.table-entradas th,
.table-entradas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-entradas th {
    background-color: #f2f2f2;
}

.table-entradas tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-entradas tbody tr:hover {
    background-color: #f1f1f1;
}

.entradas-title,
.saidas-title {
    font-weight: 200;
    background-color: #ffffff;
}

.separator {
    margin: 2.5rem 0;
    border: none;
    border-top: 1px solid #ddd;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.font-bold {
    font-weight: 700;
}

.table-entradas .data-hora,
.table-saidas .data-hora {
    width: 180px;
}

.no-border-left {
    border-left: none !important;
}

.no-border-right {
    border-right: none !important;
}

.tr-total > td {
    background-color: #f2f2f2;
}

@media screen and (max-width: 468px) {
    /* .table-entradas .data-hora,
    .table-entradas .nome-doador,
    .table-saidas .data-hora {
        width: 100px;
    } */
    .page-transparency table{
        font-size: .8rem;
        max-width: 100%;   
    }
}
