.text-right {
    text-align: right !important;
    text-align: -webkit-right !important;
}

.text-center {
    text-align: center !important;
    text-align: -webkit-center !important;
}

.hide {
    /* visibility: collapse !important; */
    max-height: 0 !important;
}

.show,
.show > td {
    overflow: hidden;
    justify-content: flex-end;
    flex: 1;
}
.show {
    /* visibility: visible; */
    max-height: 1000px;
    height: auto;
    transition: all .25s ease-in-out;
}

.row-expand:hover {
    cursor: pointer;
}

tr.row-expand:nth-child(4n + 1):not(.expanded) {
    background-color: white !important;
}

tr.row-expand svg {
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
}

tr.row-expand.expanded svg {
    transform: rotate(90deg);
}

.table-entradas {
    font-size: 14px;
}

.table-entradas > tbody > tr > td > span,
.table-entradas > tbody > tr > td+td
 {
    font-weight: 500;
}

.table-entradas > tfoot > tr > th+th,
.table-entradas > thead > tr > th+th,
.table-entradas > tbody > tr > td+td {
    min-width: 120px !important;
}