.table-detail {
    width: 95%;
    /* min-width: 360px !important; */
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    
}

.table-detail > tfoot th,
.table-detail > thead th,
.table-detail > tbody td {
    font-size: 12px;
}

.table-detail > tbody td {
    font-style: italic;
}

.flex {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.flex > thead,
.flex > tfoot,
.flex > tbody {
    display: flex;
    flex: 1;
    flex-direction: column;
}


.flex > tfoot > tr,
.flex > thead > tr,
.flex > tbody > tr {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.flex > tfoot th:nth-child(1),
.flex > thead th:nth-child(1),
.flex > tbody > tr > td:nth-child(1) {
    flex: 10;
}

.flex > tfoot th:nth-child(2),
.flex > thead th:nth-child(2),
.flex > tbody > tr > td:nth-child(2) {
    flex: 1;
    justify-content: flex-end;
}

.flex > tfoot > tr > th,
.flex > thead > tr > th,
.flex > tbody > tr > td,
.flex > tbody > tr > td > span {
    display: flex;
    align-items: center;
}