.paper-container {    
    padding: 1.5rem 2rem;
    border-radius: 5px;
    background-color: #ffffff;
    width: 70rem;
}

@media screen and (max-width: 1150px){
    .paper-container {
        width: 50rem;
    }

}
@media screen and (max-width: 1020px) {
    .paper-container {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: auto;
        height: auto;
    }

    .paper-container>img {
        width: 2rem;
    }
}